.tout {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    justify-content: space-around; /* Alignement des conteneurs */
    display: flex;
}

h2Caisson {
    margin-top: -12px;
    margin-bottom: 10px;
}

.container {
    flex-basis: 45%; /* Largeur des conteneurs (45% de l'espace disponible) */
}

.info-container,
.form-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-container {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 20px;

}

.info-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;

}

@media (max-width: 768px) {
    .form-container,
    .info-container {
        width: 100%; /* En cas de vue mobile, occuper toute la largeur */
        margin-right: 0; /* Aucun espace sur les côtés */
    }
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="number"],
form select,
form button {
    padding: 5px; /* Réduire le padding interne des éléments */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #45a049;
}

/* Style pour les éléments remplis dans les textes */
.info-container strong {
    font-weight: bold;
    color: #007bff; /* couleur bleue pour les valeurs */
}

/* Style pour la classe div-btn contenant les boutons */
.div-btn {
    display: flex; /* Utilisation de flexbox pour aligner les boutons horizontalement */
    justify-content: center; /* Centrer les boutons horizontalement */
    margin-bottom: 20px; /* Marge en bas pour l'espace visuel */
}

/* Style pour les boutons à l'intérieur de la classe div-btn */
.div-btn button {
    background-color: rgb(47, 33, 243); /* Couleur de fond beige */
    color: #ffffff; /* Couleur du texte (noir ou autre couleur sombre) */
    padding: 10px 20px; /* Rembourrage intérieur pour un espace autour du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    margin: 0 10px; /* Marge autour des boutons */
    cursor: pointer; /* Curseur de souris pointer */
    font-size: 16px; /* Taille de police */
    transition: background-color 0.3s ease; /* Animation de transition pour le changement de couleur de fond */
}

/* Style pour les boutons au survol */
.div-btn button:hover {
    background-color: #d2b48c; /* Couleur de fond beige légèrement plus claire au survol */
}
